@media print,
(max-width: 1899px)
{
    /*-------------------
        Global styles
    -------------------*/
    :root
    {
        --sidebar_width: 400px;
        --font_size: 18px;
        --font_size_title: 48px;
    }


    .block
    {
        margin-bottom: 88px;
    }

    .block.big_m
    {
        margin-bottom: 160px;
    }


    .cont
    {
        padding: 0 28px;
    }


    .content
    {
        width: calc(100% - var(--sidebar_width) - 28px);
    }



    /*--------------
        All link
    --------------*/
    .all_link
    {
        margin-top: 60px;
    }



    /*------------
        Header
    ------------*/
    header
    {
        padding: 24px 0;
    }


    header.absolute .cont
    {
        padding: 0 64px;
    }


    header .contacts .work_time
    {
        line-height: 18px;

        margin-top: 0;
    }


    header .messengers a + a
    {
        margin-left: 16px;
    }


    header .feedback_btn
    {
        margin-left: 28px;
    }


    header .menu
    {
        margin-top: 32px;
    }


    header .menu_item > a
    {
        padding: 12px 20px;
    }


    header .sub_menu
    {
        padding: 60px 0 12px;
    }



    /*-------------
        Sidebar
    -------------*/
    aside .title
    {
        font-size: 22px;

        margin-top: 16px;
    }


    aside .title.small
    {
        font-size: var(--font_size);

        width: 320px;
        margin-top: 20px;
    }


    aside .desc
    {
        font-size: var(--font_size);

        width: 380px;
        margin-top: 32px;
    }



    /*------------------
        Form elements
    ------------------*/
    .form .columns
    {
        --form_columns_offset: 28px;
    }



    /*----------------
        Typography
    ----------------*/
    .text_block
    {
        font-size: var(--font_size);
    }



    /*----------------
        Block head
    ----------------*/
    .block_head
    {
        margin-bottom: 28px;
    }


    .block_head .title
    {
        line-height: calc(100% + 12px);
    }


    .block_head .desc
    {
        font-size: var(--font_size);
    }

    .block_head * + .desc
    {
        margin-top: 20px;
    }



    /*----------------
        Enter page
    ----------------*/
    .enter_page > *
    {
        padding: 80px 64px 64px;
    }


    .enter_page .desc
    {
        width: 364px;
    }


    .enter_page .btn
    {
        margin-top: 48px;
        padding: 11px 24px 12px;
    }



    /*-------------------
        First section
    -------------------*/
    .first_section
    {
        margin-bottom: 88px;
    }



    .first_section .slider
    {
        width: 540px;
    }


    .first_section .slider .swiper-slide
    {
        min-height: 600px;
        padding: 80px 48px 146px;
    }


    .first_section .slider .btn
    {
        margin-top: 40px;
        padding: 11px 24px 12px;
    }


    .first_section .slider .controls
    {
        padding: 48px;
    }



    .first_section .image
    {
        width: calc(100% - 568px);
    }



    .first_section .advantages
    {
        margin-top: 28px;
    }



    /*----------------
        Advantages
    ----------------*/
    .advantages .row
    {
        margin-bottom: -28px;
        margin-left: -28px;
    }


    .advantages .row > *
    {
        width: calc(33.333% - 28px);
        margin-bottom: 28px;
        margin-left: 28px;
    }


    .advantages .item
    {
        padding: 0 28px 28px;
    }


    .advantages .item .name
    {
        padding-left: 88px;
    }


    .advantages .item .desc
    {
        margin-top: 28px;
    }



    /*----------------
        About info
    ----------------*/
    .about_info .text_block
    {
        margin-top: 28px;
    }



    /*--------------
        Services
    --------------*/
    .services .block_head
    {
        margin-bottom: 40px;
    }


    .services .item .main
    {
        padding: 0;
    }


    .services .item .sub
    {
        font-size: var(--font_size);

        padding-top: 20px;
    }



    /*--------------
        Projects
    --------------*/
    .projects
    {
        padding-bottom: 0;
    }


    .projects .block_head
    {
        margin-bottom: 40px;
    }


    .projects .map_link a
    {
        padding: 12px 36px;
    }


    .projects .row
    {
        margin-bottom: -28px;
        margin-left: -28px;
    }


    .projects .row > *
    {
        width: calc(33.333% - 28px);
        margin-bottom: 28px;
        margin-left: 28px;
    }

    .projects .row > *.big
    {
        width: calc(66.666% - 28px);
    }


    .projects .project .stickers
    {
        top: 24px;
        left: 24px;
    }


    .projects .project .info
    {
        padding-top: 24px;
    }


    .projects .project .name
    {
        font-size: 22px;
    }


    .projects .project .address
    {
        margin-top: 12px;
    }


    .projects .project.big .info
    {
        padding: 24px;
    }


    .projects .project.big .name
    {
        line-height: calc(100% + 12px);
    }



    /*------------
        Why we
    ------------*/
    .why_we .block_head
    {
        margin-bottom: 48px;
    }


    .why_we .item .val
    {
        margin-bottom: 20px;
        padding-bottom: 20px;
    }


    .why_we .item .desc
    {
        font-size: var(--font_size);
    }



    /*-----------
        Steps
    -----------*/
    .steps .head
    {
        padding: 60px 0 120px;
    }


    .steps .row
    {
        margin-bottom: -28px;
        margin-left: -28px;
    }


    .steps .row > *
    {
        width: calc(33.333% - 28px);
        margin-bottom: 28px;
        margin-left: 28px;
    }


    .steps .step
    {
        height: 260px;
        padding: 40px;
    }


    .steps .step:not(.empty):before
    {
        bottom: 40px;
        left: 40px;
    }



    /*-----------
        Staff
    -----------*/
    .staff .block_head
    {
        margin-bottom: 40px;
    }


    .staff .tabs .btn
    {
        font-size: 22px;
    }


    .staff .grid
    {
        margin-bottom: -28px;
        margin-left: -28px;
    }


    .staff .grid > *
    {
        width: calc(50% - 28px);
        margin-bottom: 28px;
        margin-left: 28px;
    }


    .staff .item .name.top,
    .staff .item .info,
    .staff .item .btns
    {
        padding: 28px;
    }


    .staff .item .name
    {
        font-size: 22px;
    }



    /*----------
        Calc
    ----------*/
    .calc
    {
        padding: 80px 0;
    }


    .calc .block_head
    {
        margin-bottom: 40px;
    }


    .calc .form .columns
    {
        --form_columns_offset: 120px;
    }


    .calc .form .line
    {
        margin-bottom: 40px;
    }


    .calc .form .included
    {
        margin-bottom: 40px;
        padding: 40px 80px;
    }


    .calc .form .included .row
    {
        margin-bottom: -28px;
        margin-left: -28px;
    }


    .calc .form .included .row > *
    {
        max-width: calc(100% - 28px);
        margin-bottom: 28px;
        margin-left: 28px;
    }


    .calc .form .exp
    {
        margin-top: 40px;
    }



    /*-----------------
        Calc result
    -----------------*/
    .calc_result
    {
        padding: 88px 0;
    }


    .calc_result .data
    {
        padding: 40px 80px;
    }


    .calc_result .close_btn
    {
        top: 28px;
        right: 56px;
    }


    .calc_result .items > *
    {
        padding-left: 28px;
    }


    .calc_result .items > *:nth-child(3n+1)
    {
        width: 310px;
    }

    .calc_result .items > *:nth-child(3n+2)
    {
        width: 172px;
    }

    .calc_result .items > *:nth-child(3n+3)
    {
        width: 338px;
    }


    .calc_result .total_price .price
    {
        margin-top: 12px;
    }



    /*-----------------
        Order block
    -----------------*/
    .order_block
    {
        padding: 48px 0 60px;
    }


    .order_block .data
    {
        padding: 60px 80px;
    }


    .order_block .block_head
    {
        margin-bottom: 40px;
    }



    /*-----------
        Cases
    -----------*/
    .cases
    {
        padding-bottom: 0;
    }


    .cases aside.absolute
    {
        left: 28px;
    }


    .cases .customer
    {
        margin-top: 97px;
    }

    .cases .location
    {
        margin-top: 28px;
    }


    .cases .customer .label,
    .cases .location .label
    {
        font-size: 22px;
    }


    .cases .gallery
    {
        margin-bottom: 40px;
    }


    .cases .gallery .row
    {
        margin-bottom: -28px;
        margin-left: -28px;
    }


    .cases .gallery .row > *
    {
        width: calc(50% - 28px);
        margin-bottom: 28px;
        margin-left: 28px;
    }


    .cases .data .row
    {
        margin-bottom: -28px;
        margin-left: -28px;
    }


    .cases .data .row > *
    {
        width: calc(50% - 28px);
        margin-bottom: 28px;
        margin-left: 28px;
    }

    .cases .data .row > *.big
    {
        width: calc(100% - 28px);
    }


    .cases .data .item
    {
        padding: 28px;
    }


    .cases .data .item .title
    {
        font-size: 30px;
    }


    .cases .data .item ul li + li
    {
        margin-top: 12px;
    }


    .cases .swiper .controls
    {
        margin-top: 40px;
    }



    /*-------------
        Clients
    -------------*/
    .clients .block_head
    {
        margin-bottom: 48px;
    }


    .clients .grid + .grid
    {
        margin-top: 28px;
    }



    /*-------------------
        Contacts info
    -------------------*/
    .contacts_info .data
    {
        padding: 40px 80px;
    }


    .contacts_info .title
    {
        line-height: 48px;

        margin-bottom: 40px;
    }


    .contacts_info .phone,
    .contacts_info .email
    {
        font-size: var(--font_size);
    }


    .contacts_info .work_time
    {
        font-size: var(--font_size);
        line-height: 26px;

        margin-top: 28px;
    }



    /*---------------
        Geography
    ---------------*/
    .geography .types
    {
        margin-top: 80px;
    }


    .geography .types .title
    {
        font-size: 28px;
        line-height: 120%;

        margin-bottom: 24px;
    }


    .geography .types .items > * + *
    {
        margin-top: 16px;
    }



    /*-----------
        Certs
    -----------*/
    .certs .block_head
    {
        margin-bottom: 40px;
    }


    .certs .swiper-button-next,
    .certs .swiper-button-prev
    {
        margin-bottom: 40px;
    }


    .certs .swiper-pagination
    {
        margin-top: 40px;
    }



    /*------------
        Footer
    ------------*/
    footer
    {
        padding-bottom: 28px;
    }


    footer .cont + .cont
    {
        margin-top: 40px;
    }


    footer .messengers
    {
        margin-top: 40px;
    }


    footer .messengers a + a
    {
        margin-left: 16px;
    }


    footer .menu
    {
        width: 560px;
        margin-top: 28px;
        margin-left: 88px;
    }


    footer .menu .row
    {
        margin-left: -28px;
    }

    footer .menu .row > *
    {
        margin-left: 28px;
    }


    footer .contacts .phone
    {
        font-size: 32px;
    }


    footer .contacts .work_time
    {
        line-height: 26px;

        margin-top: 8px;
    }


    footer .contacts .email
    {
        margin-top: 12px;
    }


    footer .contacts .location
    {
        margin-top: 16px;
    }


    footer .links
    {
        margin-left: 88px;
    }


    footer .links > * + *
    {
        margin-left: 28px;
    }
}
